---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

aside {
  background: #f8f8f8;
  border: 1px solid #eaecef;
  border-radius: 3px;
  padding: 1em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #eaecef;
  margin-bottom: 4em;
}

td,
th {
  border-left: 1px solid #eaecef;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible; /* to make this where the title is really long work */
  padding: 0.5em 1em; /* cell padding */
}

thead {
  background-color: #f8f8f8;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

.pdf-print {
  display: inline;
  margin: auto 0;
  button {
    background-color: #f8f8f8;
    border: 1px solid #eaecef;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.5em;
  }
}
